In [2]:
my_dna = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT"
length=len(my_dna)
a_count=my_dna.count('A')
t_count=my_dna.count('T')

print("length: " + str(length))
print("A count: " + str(a_count))
print("T count: " + str(t_count))

length: 54
A count: 16
T count: 21

In [4]:
test_dna ="ATGC"
length=len(test_dna)
a_count=test_dna.count('A')
t_count=test_dna.count('T')

print("length: " + str(length))
print("A count: " + str(a_count))
print("T count: " + str(t_count))

length: 4
A count: 1
T count: 1

In [5]:
at_content=a_count + t_count /length
print("AT content is " + str(at_content))

AT content is 1.25

In [6]:
at_content=(a_count + t_count) /length
print("AT content is " + str(at_content))

AT content is 0.5

In [7]:
my_dna = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT"
length=len(my_dna)
a_count=my_dna.count('A')
t_count=my_dna.count('T')

at_content = (a_count + t_count) / length
print("AT content is " + str(at_content))

AT content is 0.6851851851851852

In [9]:
#Complementing DNA
replacement1 = my_dna.replace('A', 'T')
print(replacement1)
replacement2= replacement1.replace('T', 'A')
print(replacement2)
replacement3=replacement2.replace('C', 'G')
print(replacement3)
replacement4= replacement3.replace('G', 'C')
print(replacement4)

TCTGTTCGTTTTCGTTTTGTTTTTGCTTTCTTTCTTTTTTTTCGTTGCGTTCTT
ACAGAACGAAAACGAAAAGAAAAAGCAAACAAACAAAAAAAACGAAGCGAACAA
AGAGAAGGAAAAGGAAAAGAAAAAGGAAAGAAAGAAAAAAAAGGAAGGGAAGAA
ACACAACCAAAACCAAAACAAAAACCAAACAAACAAAAAAAACCAACCCAACAA

In [10]:
my_dna = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT"
replacement1=my_dna.replace('A', 'H')
replacement2=replacement1.replace('T', 'J')
replacement3=replacement2.replace('C', 'K')
replacement4=replacement3.replace('G', 'L')
replacement5=replacement4.replace('H', 'T')
replacement6=replacement5.replace('J', 'A')
replacement7=replacement6.replace('K', 'G')
replacement8=replacement7.replace('L', 'C')
print(replacement8)

TGACTAGCTAATGCATATCATAAACGATAGTATGTATATATAGCTACGCAAGTA

In [12]:
my_dna = "ACTGATCGATTACGTATAGTAGAATTCTATCATACATATATATCGATGCGTTCAT"
frag1_length=my_dna.find("GAATTC") + 1
frag2_length=len(my_dna) - frag1_length
print("length of fragment on is " + str(frag1_length))
print("length of frament two is " + str(frag2_length))

length of fragment on is 22
length of frament two is 33

In [14]:
#SPLICING
my_dna="ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT"
exon1=my_dna[0:63]
exon2=my_dna[90:10000]
print(exon1 + exon2)

ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCATCGATCGATATCGATGCATCGACTACTAT

In [16]:
coding_length=len(exon1+exon2)
total_length=len(my_dna)
print(100*coding_length / total_length)

77.23577235772358

In [17]:
intron=my_dna[62:90]
print(exon1 + intron.lower() + exon2)

ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGAatcgatcgatcgatcgatcgatcatgctTCATCGATCGATATCGATGCATCGACTACTAT