In [52]:
### make a list
Mylist=[3,2.44,"green",True]

In [53]:
type(3)

int

In [5]:
type("green")

str

In [6]:
type(True) ##special data types that take 2 values true/false or 0/1

bool

In [7]:
#boolean example
xx="red"
yy="red"
xx==yy

True

In [8]:
xx!=yy #using != will ask if they are not equal to each other

False

In [10]:
type(Mylist[0]) #element 0 is 3 from the list

int

In [18]:
Mylist[4]

IndexError: list index out of range

In [12]:
for element in Mylist:
    print(type(element))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [19]:
len(Mylist)

4

In [21]:
range(4)

range(0, 4)

In [25]:
list(range(0,4)) ##list in front of range/object converts it to a list

[0, 1, 2, 3]

In [33]:
listlen = len (Mylist) #get length of list

for index in range(listlen):
    element = Mylist[index] ##extract item at index "element"
    print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [38]:
Mylist[0:1] #subsetting/slicing a list
 ##using : will give you a range in a list; including the one at left but not inlcude right

[3]

In [37]:
Mylist[0:3]

[3, 2.44, 'green']

In [39]:
Mylist[:2] ## start with : means start with first in list

[3, 2.44]

In [40]:
Mylist[1:] #gives everything from start value to end

[2.44, 'green', True]

In [41]:
Mylist[-1] #negative works backwards in the list

True

In [54]:
list2=Mylist.copy() #when you make the copy, they are not separate from each other so if you delete one, 
#the other will still exists

In [57]:
Mylist.clear()

In [58]:
print(Mylist)

[]

In [59]:
print(list2)

[3, 2.44, 'green', True]

In [65]:
Mylist=[3,2.44,"green",True]
list3=Mylist
list3.pop() #pops out the last object
list3

[3, 2.44, 'green']

In [66]:
Mylist #but .pop also affects the original list so just assigning a list by a new name just simply redirects it
#so what you do to one version will happen to other;;;use .copy to make 2 separate versions

[3, 2.44, 'green']

In [68]:
Mylist=[3,2.44,"green",True]
xx="dinnosaur"
Mylist.append(xx)
Mylist

[3, 2.44, 'green', True, 'dinnosaur']