In [22]:
s ="hello world"
xx = 34
yy=1.267

In [17]:
xx + yy

35.267

In [5]:
type (ss)

str

In [6]:
type(xx)

int

In [18]:
type(yy)

float

In [12]:
zz = 34.0

In [13]:
type(zz)

float

In [14]:
mm = zz + xx

In [15]:
type (mm)

float

In [19]:
type (xx)

int

In [23]:
ss = "this is my string"

In [25]:
help(ss.title)

Help on built-in function title:

title(...) method of builtins.str instance
    S.title() -> str

    Return a titlecased version of S, i.e. words start with title case
    characters, all remaining cased characters have lower case.

In [27]:
ss.title()

'This Is My String'

In [32]:
ss.count("m") #this will count the number of occurences of "x" within the string

1

In [35]:
help(ss.replace)

Help on built-in function replace:

replace(...) method of builtins.str instance
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

In [37]:
ss.replace("t", "T") #this can be used to replace certain things in the string with something else

'This is my sTring'

In [38]:
help (ss.split)

Help on built-in function split:

split(...) method of builtins.str instance
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [39]:
species ="genus species"

In [40]:
species.split()

['genus', 'species']

In [44]:
species.split()[0]

'genus'

In [50]:
species.split("s")

['genu', ' ', 'pecie', '']

In [52]:
len(species) #can pass len a collection of something; its a builtin function

13

In [56]:
species.upper()

'GENUS SPECIES'

In [58]:
"genus".upper()

'GENUS'

In [55]:
ss ="    " #you can count spaces too!!
len(ss)

4

In [59]:
2+2

4

In [60]:
ss + species #this will join the two strings together

'    genus species'

In [61]:
#but a faster way to join multiple strings is using join
human = ["Homo","sapiens","sapiens"]
"x".join(human) #it joins the string using whatever you tell it

'Homoxsapiensxsapiens'

In [63]:
#String Challenge
s = "WHEN on board H.M.S Beagle, as naturalist"
s.count("b") #number of occurences of b

1

In [66]:
s.upper().count("B") #we are running two things here

2